# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data - keep local for security & file size
data/

# Quarto output - may include data rendering results 
/.quarto/
*_files/
*.html

# Misc.
.DS_Store
